<div class="container-fluid" role="main">

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h3>Crud de usuarios</h3>
        </div>
        <div class="col-md-4">

        </div>
    </div>


    <div class="row">
        <div class="col-md form-group">
            <input type="text" id="txtNombre" [(ngModel)]="nombre" class="form-control" placeholder="Nombre">
        </div>
    </div>
    <div class="row">
        <div class="col-md form-group">
            <input type="email" id="txtCorreo" [(ngModel)]="correo" class="form-control" placeholder="Correo">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-success" (click)="agregarUsr()">Agregar</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of lstUsuarios">
                        <th scope="row">{{user.id}}</th>
                        <td>
                            <div *ngIf="upCtrl">
                                {{user.nombre}}
                            </div>
                            <div *ngIf="!upCtrl">
                                <input type="text" id="txtNom" [(ngModel)]="user.nombre" class="form-control" placeholder="Nombre">
                            </div>
                        </td>
                        <td>
                            <div *ngIf="upCtrl">
                                {{user.correo}}
                            </div>
                            <div *ngIf="!upCtrl">
                                <input type="text" id="txtCor" [(ngModel)]="user.correo" class="form-control" placeholder="Correo">
                            </div>
                        </td>
                        <td>
                            <button type="button" [hidden]="!upCtrl" (click)="upCtrl = false" class="btn btn-warning">Actualizar</button>
                            <button type="button" [hidden]="upCtrl" (click)="actualizarUsuario(user.id,user)" class="btn btn-warning">Guardar</button>
                            <button type="button" (click)="eliminarUser(user.id)" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>